body {
    background-color: white;
}

.p1 {
    background-color: coral;
    text-align:justify;
    padding: 20px;
}

.p1:hover{
    background-color: darkgray;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: auto;
    border-style: groove;
    border-color: blue;
    border-radius: 10px;
}

.legendas {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}